In [2]:
import pandas as pd

In [3]:
movies = pd.read_html("https://en.wikipedia.org/wiki/List_of_highest-grossing_films")
df = movies[0]

In [4]:
df = df[["Rank", "Title", "Worldwide gross", "Year"]]
df = df.set_index("Rank")
df

                                              Title   Worldwide gross  Year
Rank
1                                 Avengers: Endgame    $2,797,800,564  2019
2                                            Avatar    $2,790,439,000  2009
3                                           Titanic    $2,194,439,542  1997
4                      Star Wars: The Force Awakens    $2,068,223,624  2015
5                            Avengers: Infinity War    $2,048,359,754  2018
6                                    Jurassic World    $1,671,713,208  2015
7                                     The Lion King    $1,656,943,394  2019
8                                      The Avengers    $1,518,812,988  2012
9                                         Furious 7    $1,516,045,911  2015
10                                        Frozen II    $1,450,026,933  2019
11                          Avengers: Age of Ultron    $1,402,805,868  2015
12                                    Black Panther    $1,346,913,161  2018
13    Harry Potter and the Deathly Hallows – Part 2    $1,341,693,157  2011
14                         Star Wars: The Last Jedi    $1,332,539,889  2017
15                   Jurassic World: Fallen Kingdom    $1,309,484,461  2018
16                                           Frozen   F$1,290,000,000  2013
17                             Beauty and the Beast    $1,263,521,126  2017
18                                    Incredibles 2    $1,242,805,359  2018
19                          The Fate of the Furious  F8$1,238,764,765  2017
20                                       Iron Man 3    $1,214,811,252  2013
21                                          Minions    $1,159,398,397  2015
22                       Captain America: Civil War    $1,153,304,495  2016
23                                          Aquaman    $1,148,161,807  2018
24    The Lord of the Rings: The Return of the King    $1,142,219,401  2003
25                        Spider-Man: Far From Home    $1,131,927,996  2019
26                                   Captain Marvel    $1,128,274,794  2019
27                   Transformers: Dark of the Moon    $1,123,794,079  2011
28                                          Skyfall    $1,108,561,013  2012
29                  Transformers: Age of Extinction    $1,104,054,072  2014
30                            The Dark Knight Rises    $1,084,939,099  2012
31                                            Joker    $1,074,251,311  2019
32                 Star Wars: The Rise of Skywalker    $1,074,144,248  2019
33                                      Toy Story 4    $1,073,394,593  2019
34                                      Toy Story 3    $1,066,969,703  2010
35       Pirates of the Caribbean: Dead Man's Chest    $1,066,179,725  2006
36                     Rogue One: A Star Wars Story    $1,056,057,273  2016
37                                          Aladdin    $1,050,693,953  2019
38      Pirates of the Caribbean: On Stranger Tides    $1,045,713,802  2011
39                                  Despicable Me 3    $1,034,799,409  2017
40                                    Jurassic Park    $1,029,939,903  1993
41                                     Finding Dory    $1,028,570,889  2016
42        Star Wars: Episode I – The Phantom Menace    $1,027,044,677  1999
43                              Alice in Wonderland    $1,025,467,110  2010
44                                         Zootopia    $1,023,784,195  2016
45                The Hobbit: An Unexpected Journey    $1,021,103,568  2012
46                                  The Dark Knight    $1,004,934,033  2008
47         Harry Potter and the Philosopher's Stone      $975,051,288  2001
48                                  Despicable Me 2      $970,761,885  2013
49                                    The Lion King      $968,483,777  1994
50                                  The Jungle Book      $966,550,600  2016